p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 30px;
	@media only screen and (max-width : 480px) {
		font-size: 14.5px;
	}
}

b {
	font-weight: 700;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.section-header {
	text-align: center;
	.section-title {
		position: relative;
		display: inline-block;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 28px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 70px;
		@media only screen and (max-width : 480px) {
			font-size: 24px;
		}
		&:before {
			content: '';
			position: absolute;
			display: block;
			border-bottom: 1px solid #ff4540;
			width: 30px;
			left: -60px;
			top: 50%;
			@media only screen and (max-width : 992px) {
				display: none;
			}
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			border-bottom: 1px solid #ff4540;
			width: 30px;
			right: -60px;
			top: 50%;
			@media only screen and (max-width : 992px) {
				display: none;
			}
		}
	}
}

.section-divider-bottom {
	position: relative;
	min-height: 1px;
	border-top: 1px solid #bebebe;
	margin-top: 60px;
	&:before {
		position: absolute;
		left: 0;
		top: -80px;
		display: block;
		content: '';
		border-left: 1px solid #bebebe;
		height: 80px;
	}
	&:after {
		position: absolute;
		right: 0;
		top: -80px;
		display: block;
		content: '';
		border-left: 1px solid #bebebe;
		height: 80px;
	}
}

.section-divider-top {
	position: relative;
	min-height: 1px;
	border-top: 1px solid #bebebe;
	bottom: -16px;
	&:before {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		content: '';
		border-left: 1px solid #bebebe;
		height: 80px;
	}
	&:after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		content: '';
		border-left: 1px solid #bebebe;
		height: 80px;
	}
}

.center-ver-hor {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.page-header {
	margin: 0;
	padding-bottom: 0;
	border: 0;
	min-height: 390px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.title-wrapper {
		display: inline-block;
		padding: 50px 80px;
		background-color: rgba(0, 0, 0, 0.5);
		font-family: 'Raleway', sans-serif;
		color: white;
		margin-top: 110px;
		text-transform: lowercase;
		@media only screen and (max-width: 992px) {
			padding: 30px 60px;
			margin-top: 150px;
		}
		@media only screen and (max-width: 768px) {
			display: block;
			text-align: center;
		}
		@media only screen and (max-width: 560px) {
			padding: 26px 40px;
		}
		@media only screen and (max-width: 480px) {
			padding: 26px 30px;
		}
		.page-title {
			font-size: 38px;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 700;
			@media only screen and (max-width: 992px) {
				font-size: 31px;
			}
			@media only screen and (max-width: 768px) {
				font-size: 28px;
			}
		}
		.page-subtitle {
			font-size: 30px;
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 400;
			@media only screen and (max-width: 992px) {
				font-size: 23px;
			}
			@media only screen and (max-width: 768px) {
				font-size: 21px;
			}
		}
	}
}

.breadcrumbs {
	padding-top: 35px;
	padding-bottom: 35px;
	.home-link {
		position: relative;
		display: inline-block;
		bottom: -2px;
		svg {
			fill: #000;
			transition: 0.1s all ease-in-out;
		}
		&:hover, &:focus {
			svg {
				fill: #ff4540;
			}
		}
	}
	.breadcrumbs-separator {
		color: #bebebe;
	}
	.normal-link {
		color: #bebebe;
		transition: 0.1s all ease-in-out;
		&:hover {
			color: black;
		}
		&.active {
			color: #ff4540;
			font-weight: 700;
			transition: 0.1s all ease-in-out;
		}
	}
}

.arrow-list {
	list-style: none;
	padding-left: 5px;
	&>li {
		font-size: 16px;
		padding-bottom: 30px;
		text-indent: -1.2em;
		margin-left: 1.2em;
		@media only screen and (max-width: 480px) {
			font-size: 14.5px;
		}
		&:before {
			position: relative;
			top: -1px;
			content: '';
			display: inline-block;
			background-image: url('../images/list-style-arrow.png');
			background-repeat: no-repeat;
			height: 9px;
			width: 6px;
			margin-right: 12px;
		}
	}
	.nested-list {
		list-style: none;
		list-style-position: outside;
		&>li {
			font-size: 12px;
			margin-bottom: 30px;
			text-indent: -1.2em;
			margin-left: 1.2em;
			&:before {
				position: relative;
				top: -3px;
				content: '';
				display: inline-block;
				background-image: url('../images/list-style-dot.png');
				background-repeat: no-repeat;
				height: 2px;
				width: 2px;
				margin-right: 12px;
			}
		}
	}
}
